/*General Styles
*************************************/
body {
    position: relative;
}

p,
h4,
li {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Bree Serif', serif;
}

hr {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

ul {
    list-style-type: none;
}

header {
    border-bottom: 1px solid gainsboro;
}

/*Navigation Styles
*************************************/
.navbar {
    background-color: transparent;
    /*box-shadow: 1px 1px 3px black;*/
}

.nav-link {
    font-family: 'Bree Serif', serif;
    font-size: 1.1em;
    color: white !important;
    transition-duration: .5s;
    transition-property: color, scale;
    text-shadow: 1px 1px 1px black;
}

.nav-link:hover {
    color: plum !important;
    transform: scale(1.2);
}

.nav-link:active {
    color: purple !important;
    transform: scale(1.0);
}

/*Header Styles
*********************************/
.jumbotron {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #88cba2;
    background: url("../img/spaceground.svg") 100% 80% no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 10px black;
}

.jumbotron h1 {
    font-size: 6.5em;
    color: white;
    font-family: 'Bree Serif', serif;
    text-shadow: 1px 1px black;
    transition-duration: .8s;
    transition-property: text-shadow, transform, color;
    transition-timing-function: ease-out;
}

.jumbotron p {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px 1px black;
}

#animatedElement {
    visibility: hidden;
}

#animatedcastle {
    visibility: hidden;
}

/*Website Showcase Styles
************************************/
.review-teaser {
    background: url("https://static.pexels.com/photos/94296/pexels-photo-94296.jpeg") no-repeat 100% 50%;
    background-size: cover;
    padding: 2rem 4rem;
    box-shadow: 1px 1px 6px #888;
}

.review-block {
    background-color: white;
    padding: 2rem 4rem;
}

.review-block header {
    border-bottom: 1px solid gainsboro;
}

.fa-chevron-right {
    color: #888;
    transition-duration: .5s;
}

.fa-chevron-right:hover {
    color: indianred;
    transform: scale(2.0);
}

header h1 {
    font-family: 'Raleway', sans-serif;
}

.closet-teaser {
    background: url("https://static.pexels.com/photos/26549/pexels-photo-26549.jpg") no-repeat 100% 50%;
    background-size: cover;
    padding: 2rem 4rem;
    box-shadow: 1px 1px 6px #888;
}

.basket-block {
    background-color: white;
    padding: 2rem 4rem;
}

.basket-block header {
    border-bottom: 1px solid gainsboro;
}



.fat-teaser {
    background: url("https://static.pexels.com/photos/199294/pexels-photo-199294.jpeg") no-repeat 100% 50%;
    background-size: cover;
    padding: 2rem 4rem;
    box-shadow: 1px 1px 6px #888;
}
/*Main Content Sections Styles
***************************************/
.portfolio {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 6rem;
    font-family: 'Bree Serif', serif;
    transition-duration: .4s;
    transition-property: text-shadow;
    z-index: 99;
}

.portfolio h1 {
    margin: 0;

}

.portfolio:hover {
    text-shadow: 10px 10px 4px #62c5bf;
}

/*Interaction Styles
************************************/
.jumbotron h1:hover {
    text-shadow: 10px 10px 10px rgba(0,0,0,.5);
    transform: scale(1.1);
    color: white;
}

.photo-overlay:hover {
    opacity: 1;
    background-color: rgba(0,0,0,.5);
}

.photo-overlay:hover .btn {
    opacity: 1;
}

.photo-container:hover {
    transform: scale(1.1);
}

/*Footer Styles
***************************************/
.footer {
    padding-top: 1.3rem;
    margin-left: 4em;
    margin-right: 4em;
    border-top: 1px solid gainsboro;
}

/*Media Queries
***************************************/
@media (max-width: 1000px) {
    .navbar {
        box-shadow: 0 0 0;
    }
}

@media (max-width: 600px) {
    .jumbotron h1 {
        font-size: 4rem;
    }

    .portfolio {
        font-size: 4rem;
    }
}

