/*General Styles
*****************************************/
body {
    font-family: 'Roboto', sans-serif;
}

hr {
    margin-left: 40%;
    margin-right: 40%;

}

.background {
    background-color: rgba(127, 178, 255, .50);
}

h1 {
    color: #5095f5;
}

h4 {
    color: rgb(127, 178, 255);
}

p {
    margin: 0;
}

.btn {
    padding: 1rem 2rem;
}

/*Header Styles
*****************************************/
.main {
    color: white;
    background: url('../img/nocolor.svg') 100% 100% no-repeat;
    background-position: bottom;
    background-size: auto;
}

.jumbotron {
    background-color: transparent;
    padding: 10%;
}


.nav-link {
    color: white !important;
}

.active {
    border-bottom: 1px solid white;
}

.navbar {
    background-color: transparent !important;
}

/*Main Content
*********************************************/
.skills-section {
    background-color: rgb(127, 178, 255);
    padding: 8%;
}

.frameworks-section {
    background-color: mediumpurple;
    padding: 8%;
}

.tools-section {
    background-color: lightcoral;
    padding: 8%;
}

.databases-section {
    background-color: lightseagreen;
    padding: 8%;
}

.technologies-section {
    background-color: rgb(236, 219, 120);
    padding: 8%;
}

/*Footer Content
************************************************/
footer {
    background-color: rgba(127, 178, 255, .80);
}

.footer-section {
    color: white;
}

.contact-icons:hover {
    color: orangered;
    border-bottom: none;
}

/*Portolfio Page
*********************************************************************************/
/*Portolio-Section
*************************************************/
.portfolio-one {
    background-color: #ee6e73;
}

.portfolio-two {
    background-color: #232226;
}

.portfolio-three {
    background-color: #6a78a0;
}

.portfolio-four {
    background-color: rgb(57,60,113);
}

.portfolio-five {
    background-color: #4ea7b9;
}
