/*General Styles
***********************************************/
body, html {
    height: 100%;
    width: 100%;
}

h6 {
    color: white;
}

li {
    list-style: none;
}

/*Navigation
***********************************************/
.navbar {
    padding: 1rem;
    background-color: transparent;
}

.nav-item {
    font-size: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    font-weight: bold;

}

.nav-link {
}

.nav-link:hover {
    transition-duration: .5s;
    color: indianred !important;
    transform: scale(1.2);
}
/*Start Page
***********************************************/
.start-page {
    background-color: rgba(52, 152, 219,1.0);
    height: 93vh;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    overflow: hidden;
}

.info {
    padding-top: 20%;
}

.pup {
    padding-top: 33rem;
    opacity: .8;
}

/*About Page
***********************************************/
.about-page {
    background-color: rgba(192, 57, 43,1.0);
    height: 93%;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    overflow: hidden;
}

.skills {
    padding-top: 20rem;
}

.typewriter {
    margin-top: 18rem;
    opacity: .7;
}

.skills-row {
    margin-top: 4rem;
}

/*Dream Page
***********************************************/
.dreams-page {
    background-color: rgb(155, 89, 182);
    height: 93%;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    overflow: hidden;
}

.buzz {
    padding-top: 25rem;
    opacity: .7;
}

/*Portfolio Page
***********************************************/
.portfolio-page {
    background-color: rgb(26, 188, 156);
    height: 93%;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    overflow: hidden;
}

.sites {
    padding-top: 20%;
}

.easel {
    opacity: .7;
}

/*Media Queries
***********************************************/
@media (min-width: 450px) {

}